<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="javaprosampleApp.workspace.home.createOrEditLabel" v-text="$t('javaprosampleApp.workspace.home.createOrEditLabel')">Create or edit a Workspace</h2>
                <div>
                    <div class="form-group" v-if="workspace.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="workspace.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('javaprosampleApp.workspace.name')" for="workspace-name">Name</label>
                        <input type="text" class="form-control" name="name" id="workspace-name"
                            :class="{'valid': !$v.workspace.name.$invalid, 'invalid': $v.workspace.name.$invalid }" v-model="$v.workspace.name.$model"  required/>
                        <div v-if="$v.workspace.name.$anyDirty && $v.workspace.name.$invalid">
                            <small class="form-text text-danger" v-if="!$v.workspace.name.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('javaprosampleApp.workspace.listConnection')" for="workspace-listConnection">List Connection</label>
                        <select class="form-control" id="workspace-listConnection" name="listConnection" v-model="workspace.listConnection">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="workspace.listConnection && listConnectionOption.id === workspace.listConnection.id ? workspace.listConnection : listConnectionOption" v-for="listConnectionOption in listConnections" :key="listConnectionOption.id">{{listConnectionOption.name}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.workspace.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./workspace-update.component.ts">
</script>
