<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('javaprosampleApp.workspace.home.title')" id="workspace-heading">Workspaces</span>
            <router-link :to="{name: 'WorkspaceCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-workspace">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('javaprosampleApp.workspace.home.createLabel')">
                    Create new Workspace
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="table-responsive" v-if="workspaces">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span v-text="$t('global.field.id')">ID</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('name')"><span v-text="$t('javaprosampleApp.workspace.name')">Name</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('listConnection.name')"><span v-text="$t('javaprosampleApp.workspace.listConnection')">List Connection</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="workspace of orderBy(workspaces, propOrder, reverse === true ? 1 : -1)"
                    :key="workspace.id">
                    <td>
                        <router-link :to="{name: 'WorkspaceView', params: {workspaceId: workspace.id}}">{{workspace.id}}</router-link>
                    </td>
                    <td>{{workspace.name}}</td>
                    <td>
                        <div v-if="workspace.listConnection">
                            <router-link :to="{name: 'ListConnectionView', params: {listConnectionId: workspace.listConnection.id}}">{{workspace.listConnection.name}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'WorkspaceView', params: {workspaceId: workspace.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'WorkspaceEdit', params: {workspaceId: workspace.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(workspace)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="javaprosampleApp.workspace.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-workspace-heading" v-bind:title="$t('javaprosampleApp.workspace.delete.question')">Are you sure you want to delete this Workspace?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-workspace" v-text="$t('entity.action.delete')" v-on:click="removeWorkspace()">Delete</button>
            </div>
        </b-modal>
        <div v-if="workspaces && workspaces.length">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./workspace.component.ts">
</script>
