<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="workspace">
                <h2 class="jh-entity-heading"><span v-text="$t('javaprosampleApp.workspace.detail.title')">Workspace</span> {{workspace.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('javaprosampleApp.workspace.name')">Name</span>
                    </dt>
                    <dd>
                        <span>{{workspace.name}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('javaprosampleApp.workspace.listConnection')">List Connection</span>
                    </dt>
                    <dd>
                        <div v-if="workspace.listConnection">
                            <router-link :to="{name: 'ListConnectionView', params: {listConnectionId: workspace.listConnection.id}}">{{workspace.listConnection.name}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="workspace.id" :to="{name: 'WorkspaceEdit', params: {workspaceId: workspace.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./workspace-details.component.ts">
</script>
