<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="listConnection">
                <h2 class="jh-entity-heading"><span v-text="$t('javaprosampleApp.listConnection.detail.title')">ListConnection</span> {{listConnection.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('javaprosampleApp.listConnection.name')">Name</span>
                    </dt>
                    <dd>
                        <span>{{listConnection.name}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('javaprosampleApp.listConnection.type')">Type</span>
                    </dt>
                    <dd>
                        <span v-text="$t('javaprosampleApp.ListRole.' + listConnection.type)">{{listConnection.type}}</span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="listConnection.id" :to="{name: 'ListConnectionEdit', params: {listConnectionId: listConnection.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./list-connection-details.component.ts">
</script>
