<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('javaprosampleApp.listConnection.home.title')" id="list-connection-heading">List Connections</span>
            <router-link :to="{name: 'ListConnectionCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-list-connection">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('javaprosampleApp.listConnection.home.createLabel')">
                    Create new ListConnection
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="table-responsive" v-if="listConnections">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('javaprosampleApp.listConnection.name')">Name</span></th>
                    <th><span v-text="$t('javaprosampleApp.listConnection.type')">Type</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="listConnection in listConnections"
                    :key="listConnection.id">
                    <td>
                        <router-link :to="{name: 'ListConnectionView', params: {listConnectionId: listConnection.id}}">{{listConnection.id}}</router-link>
                    </td>
                    <td>{{listConnection.name}}</td>
                    <td v-text="$t('javaprosampleApp.ListRole.' + listConnection.type)">{{listConnection.type}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'ListConnectionView', params: {listConnectionId: listConnection.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'ListConnectionEdit', params: {listConnectionId: listConnection.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(listConnection)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="javaprosampleApp.listConnection.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-listConnection-heading" v-bind:title="$t('javaprosampleApp.listConnection.delete.question')">Are you sure you want to delete this List Connection?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-listConnection" v-text="$t('entity.action.delete')" v-on:click="removeListConnection()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./list-connection.component.ts">
</script>
