<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="javaprosampleApp.listConnection.home.createOrEditLabel" v-text="$t('javaprosampleApp.listConnection.home.createOrEditLabel')">Create or edit a ListConnection</h2>
                <div>
                    <div class="form-group" v-if="listConnection.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="listConnection.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('javaprosampleApp.listConnection.name')" for="list-connection-name">Name</label>
                        <input type="text" class="form-control" name="name" id="list-connection-name"
                            :class="{'valid': !$v.listConnection.name.$invalid, 'invalid': $v.listConnection.name.$invalid }" v-model="$v.listConnection.name.$model"  required/>
                        <div v-if="$v.listConnection.name.$anyDirty && $v.listConnection.name.$invalid">
                            <small class="form-text text-danger" v-if="!$v.listConnection.name.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('javaprosampleApp.listConnection.type')" for="list-connection-type">Type</label>
                        <select class="form-control" name="type" :class="{'valid': !$v.listConnection.type.$invalid, 'invalid': $v.listConnection.type.$invalid }" v-model="$v.listConnection.type.$model" id="list-connection-type"  required>
                            <option value="INBOX" v-bind:label="$t('javaprosampleApp.ListRole.INBOX')">INBOX</option>
                            <option value="OUTBOX" v-bind:label="$t('javaprosampleApp.ListRole.OUTBOX')">OUTBOX</option>
                            <option value="INTERNAL" v-bind:label="$t('javaprosampleApp.ListRole.INTERNAL')">INTERNAL</option>
                        </select>
                        <div v-if="$v.listConnection.type.$anyDirty && $v.listConnection.type.$invalid">
                            <small class="form-text text-danger" v-if="!$v.listConnection.type.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.listConnection.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./list-connection-update.component.ts">
</script>
