<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('javaprosampleApp.team.home.title')" id="team-heading">Teams</span>
            <router-link :to="{name: 'TeamCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-team">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('javaprosampleApp.team.home.createLabel')">
                    Create new Team
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="table-responsive" v-if="teams">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span v-text="$t('global.field.id')">ID</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('name')"><span v-text="$t('javaprosampleApp.team.name')">Name</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('workspace.name')"><span v-text="$t('javaprosampleApp.team.workspace')">Workspace</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="team of orderBy(teams, propOrder, reverse === true ? 1 : -1)"
                    :key="team.id">
                    <td>
                        <router-link :to="{name: 'TeamView', params: {teamId: team.id}}">{{team.id}}</router-link>
                    </td>
                    <td>{{team.name}}</td>
                    <td>
                        <div v-if="team.workspace">
                            <router-link :to="{name: 'WorkspaceView', params: {workspaceId: team.workspace.id}}">{{team.workspace.name}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'TeamView', params: {teamId: team.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'TeamEdit', params: {teamId: team.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(team)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="javaprosampleApp.team.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-team-heading" v-bind:title="$t('javaprosampleApp.team.delete.question')">Are you sure you want to delete this Team?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-team" v-text="$t('entity.action.delete')" v-on:click="removeTeam()">Delete</button>
            </div>
        </b-modal>
        <div v-if="teams && teams.length">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./team.component.ts">
</script>
