<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="team">
                <h2 class="jh-entity-heading"><span v-text="$t('javaprosampleApp.team.detail.title')">Team</span> {{team.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('javaprosampleApp.team.name')">Name</span>
                    </dt>
                    <dd>
                        <span>{{team.name}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('javaprosampleApp.team.workspace')">Workspace</span>
                    </dt>
                    <dd>
                        <div v-if="team.workspace">
                            <router-link :to="{name: 'WorkspaceView', params: {workspaceId: team.workspace.id}}">{{team.workspace.name}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="team.id" :to="{name: 'TeamEdit', params: {teamId: team.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./team-details.component.ts">
</script>
