<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="javaprosampleApp.team.home.createOrEditLabel" v-text="$t('javaprosampleApp.team.home.createOrEditLabel')">Create or edit a Team</h2>
                <div>
                    <div class="form-group" v-if="team.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="team.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('javaprosampleApp.team.name')" for="team-name">Name</label>
                        <input type="text" class="form-control" name="name" id="team-name"
                            :class="{'valid': !$v.team.name.$invalid, 'invalid': $v.team.name.$invalid }" v-model="$v.team.name.$model"  required/>
                        <div v-if="$v.team.name.$anyDirty && $v.team.name.$invalid">
                            <small class="form-text text-danger" v-if="!$v.team.name.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                            <small class="form-text text-danger" v-if="!$v.team.name.minLength" v-bind:value="$t('entity.validation.minlength')">
                                This field is required to be at least 3 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('javaprosampleApp.team.workspace')" for="team-workspace">Workspace</label>
                        <select class="form-control" id="team-workspace" name="workspace" v-model="team.workspace">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="team.workspace && workspaceOption.id === team.workspace.id ? team.workspace : workspaceOption" v-for="workspaceOption in workspaces" :key="workspaceOption.id">{{workspaceOption.name}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.team.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./team-update.component.ts">
</script>
