<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="issueList">
                <h2 class="jh-entity-heading"><span v-text="$t('javaprosampleApp.issueList.detail.title')">IssueList</span> {{issueList.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('javaprosampleApp.issueList.name')">Name</span>
                    </dt>
                    <dd>
                        <span>{{issueList.name}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('javaprosampleApp.issueList.listConnection')">List Connection</span>
                    </dt>
                    <dd>
                        <div v-if="issueList.listConnection">
                            <router-link :to="{name: 'ListConnectionView', params: {listConnectionId: issueList.listConnection.id}}">{{issueList.listConnection.name}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="issueList.id" :to="{name: 'IssueListEdit', params: {issueListId: issueList.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./issue-list-details.component.ts">
</script>
