<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('javaprosampleApp.issueList.home.title')" id="issue-list-heading">Issue Lists</span>
            <router-link :to="{name: 'IssueListCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-issue-list">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('javaprosampleApp.issueList.home.createLabel')">
                    Create new IssueList
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="table-responsive" v-if="issueLists">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span v-text="$t('global.field.id')">ID</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('name')"><span v-text="$t('javaprosampleApp.issueList.name')">Name</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('listConnection.name')"><span v-text="$t('javaprosampleApp.issueList.listConnection')">List Connection</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="issueList of orderBy(issueLists, propOrder, reverse === true ? 1 : -1)"
                    :key="issueList.id">
                    <td>
                        <router-link :to="{name: 'IssueListView', params: {issueListId: issueList.id}}">{{issueList.id}}</router-link>
                    </td>
                    <td>{{issueList.name}}</td>
                    <td>
                        <div v-if="issueList.listConnection">
                            <router-link :to="{name: 'ListConnectionView', params: {listConnectionId: issueList.listConnection.id}}">{{issueList.listConnection.name}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'IssueListView', params: {issueListId: issueList.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'IssueListEdit', params: {issueListId: issueList.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(issueList)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="javaprosampleApp.issueList.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-issueList-heading" v-bind:title="$t('javaprosampleApp.issueList.delete.question')">Are you sure you want to delete this Issue List?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-issueList" v-text="$t('entity.action.delete')" v-on:click="removeIssueList()">Delete</button>
            </div>
        </b-modal>
        <div v-if="issueLists && issueLists.length">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./issue-list.component.ts">
</script>
