<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="issue">
                <h2 class="jh-entity-heading"><span v-text="$t('javaprosampleApp.issue.detail.title')">Issue</span> {{issue.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('javaprosampleApp.issue.title')">Title</span>
                    </dt>
                    <dd>
                        <span>{{issue.title}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('javaprosampleApp.issue.issueList')">Issue List</span>
                    </dt>
                    <dd>
                        <div v-if="issue.issueList">
                            <router-link :to="{name: 'IssueListView', params: {issueListId: issue.issueList.id}}">{{issue.issueList.name}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="issue.id" :to="{name: 'IssueEdit', params: {issueId: issue.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./issue-details.component.ts">
</script>
