<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('javaprosampleApp.issue.home.title')" id="issue-heading">Issues</span>
            <router-link :to="{name: 'IssueCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-issue">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('javaprosampleApp.issue.home.createLabel')">
                    Create new Issue
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="table-responsive" v-if="issues">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span v-text="$t('global.field.id')">ID</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('title')"><span v-text="$t('javaprosampleApp.issue.title')">Title</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('issueList.name')"><span v-text="$t('javaprosampleApp.issue.issueList')">Issue List</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="issue of orderBy(issues, propOrder, reverse === true ? 1 : -1)"
                    :key="issue.id">
                    <td>
                        <router-link :to="{name: 'IssueView', params: {issueId: issue.id}}">{{issue.id}}</router-link>
                    </td>
                    <td>{{issue.title}}</td>
                    <td>
                        <div v-if="issue.issueList">
                            <router-link :to="{name: 'IssueListView', params: {issueListId: issue.issueList.id}}">{{issue.issueList.name}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'IssueView', params: {issueId: issue.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'IssueEdit', params: {issueId: issue.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(issue)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="javaprosampleApp.issue.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-issue-heading" v-bind:title="$t('javaprosampleApp.issue.delete.question')">Are you sure you want to delete this Issue?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-issue" v-text="$t('entity.action.delete')" v-on:click="removeIssue()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./issue.component.ts">
</script>
