<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="javaprosampleApp.issue.home.createOrEditLabel" v-text="$t('javaprosampleApp.issue.home.createOrEditLabel')">Create or edit a Issue</h2>
                <div>
                    <div class="form-group" v-if="issue.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="issue.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('javaprosampleApp.issue.title')" for="issue-title">Title</label>
                        <input type="text" class="form-control" name="title" id="issue-title"
                            :class="{'valid': !$v.issue.title.$invalid, 'invalid': $v.issue.title.$invalid }" v-model="$v.issue.title.$model"  required/>
                        <div v-if="$v.issue.title.$anyDirty && $v.issue.title.$invalid">
                            <small class="form-text text-danger" v-if="!$v.issue.title.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('javaprosampleApp.issue.issueList')" for="issue-issueList">Issue List</label>
                        <select class="form-control" id="issue-issueList" name="issueList" v-model="issue.issueList">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="issue.issueList && issueListOption.id === issue.issueList.id ? issue.issueList : issueListOption" v-for="issueListOption in issueLists" :key="issueListOption.id">{{issueListOption.name}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.issue.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./issue-update.component.ts">
</script>
